
PORT= # Port where the application runs
NODE_ENV= # Execution environment (local, development, production)
DB_URL= # Database URL

BASE_URL_TALENTS= # Base URL for the talents microservice

JWT_KEY= # Secret key for JWT

ONE_SIGNAL_APP_ID= # OneSignal App ID
ONE_SIGNAL_API_KEY= # OneSignal API Key


OPENAI_API_VERSION= # OpenAI API version
AZURE_OPENAI_ENDPOINT= # Azure OpenAI endpoint
AZURE_OPENAI_API_KEY= # Azure OpenAI API Key


AWS_S3_REGION= # AWS S3 region
AWS_ACCESS_KEY_ID= # AWS Access Key ID
AWS_SECRET_ACCESS_KEY= # AWS Secret Access Key
AWS_S3_BUCKET= # AWS S3 bucket name
